body
{
	
	background-color: #FFEFD5;

}
header
{
	background-image: url(Fond_Ecran.jpeg) ;
	width: 550px;
	margin: auto;
	text-align: center;
	text-shadow: 5px 5px 10px darkolivegreen;
	font-size: 30px;
	color: sandybrown;
	border: 10px sandybrown outset;
	border-radius: 75px;
	box-shadow:10px 10px 20px darkolivegreen ;
	filter: drop-shadow(1px 1px);
}

#Presta
{

	font-weight: bold;
	font-style: italic;
	text-decoration: underline;
	text-align: center;
	font-size: 23px;
	color: sandybrown;
	
}


footer
{
	font-style: italic;
	font-weight: bold;
	text-decoration: underline;
	text-align: center;
	color: sandybrown;
}

strong
{
	font-size: 20px;
	color: orangered;
}
h3
{
	color: sandybrown;
}
a:hover
 {
 	text-shadow: 5px 5px 10px ;
 	font-weight: bold;
 }
 a:visited
 {
 	color: #AAA;

 }