body
{
	background-color: #FFEFD5;
}
#Nom_de_Boite
{
	text-align: center;
	font-size: 3em;
	color: sandybrown;
	
}

.flottant /* la classe de l'image a comme nom flottant*/
{
	float: left;
}
#Presta
{

	font-weight: bold;
	font-style: italic;
	text-decoration: underline;
	text-align: center;
	font-size: 23;
	color: sandybrown;
	
}
h3
{
	font-style: italic;
	font-weight: bold;
	text-decoration: underline;
	text-align: center;
	color: sandybrown;
}

strong
{
	font-size: 18;
	color: orangered;
}